<%= render 'users/list', user: @user %>

<h2>Book detail</h2>
  <table>
    <tbody>
      <tr><%= image_tag @user.get_profile_image(100,100) %></tr>
        <tr>
            <td><%= link_to @user, user_path %></td>
        </tr>
        <tr>
            <td><%= @book.body %></td>
        </tr>
        <tr><%= link_to "Edit", edit_book_path(@book.id) %></tr>
        <tr><%= link_to "destroy", books_path(@book.id), method: :delete, "data-confirm" => "本当に削除しますか？" %></tr>
    </tbody>
  </table>